version: '3'
services:
    postgres:
        image: 'postgres:latest'
        environment:
            - POSTGRES_PASSWORD=postgres_password
        ports:
          - "5432:5432"
    redis-server:
        image: 'redis'
    server:
        build:
            dockerfile: Dockerfile
            context: ./server
        restart: always
        volumes:
          - ./server:/app
        ports:
            - "1323:1323"
